.addBox{
border: 1px solid black;
height: 250px;
}

.ads{
    padding-top: 10px;
    margin: 0 auto;
    text-align: left;
    background: yellow;
    font-size: 15px;
}

.addImageBox{
    border: 1px solid black;
    height: 220px; 
    width: 200px;
    margin: 10px;
    float: left;
}
.locationDetails{
    float: left;
}
.Subject{
    float: left;
}