<div class="ads">Ads </div>
<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
    
    <mat-list>
        <mat-list-item>
          <h4 mat-line>aaaaaa</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
       
        <mat-list-item>
          <h4 mat-line>bbbbbbbbbbb</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <h4 mat-line>bbbbbbbbbbb</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <h4 mat-line>bbbbbbbbbbb</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h4 mat-line>bbbbbbbbbbb</h4>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                  <h4 mat-line>bbbbbbbbbbb</h4>
                </mat-list-item>
                <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
        <div class="heading">a/l maths classs</div>
    
            
            <div class="addBox">
              
                <div class="addImageBox"></div>
                <div class="locationDetails">Location ssssssssss</div>
                <div class="Subject">Subject sssssssssssssss </div>
                <br>
                <div class="locationDetails">Location ssssssssss</div>
                <div class="Subject">Subject sssssssssssssss </div>
            </div>
              
            <div class="addBox">
              
                <div class="addImageBox"></div>
                <div class="locationDetails">Location ssssssssss</div>
                <div class="Subject">Subject sssssssssssssss </div>
                <br>
                <div class="locationDetails">Location ssssssssss</div>
                <div class="Subject">Subject sssssssssssssss </div>
            </div>   
            <div class="addBox">
              
                <div class="addImageBox"></div>
                <div class="locationDetails">Location ssssssssss</div>
                <div class="Subject">Subject sssssssssssssss </div>
                <br>
                <div class="locationDetails">Location ssssssssss</div>
                <div class="Subject">Subject sssssssssssssss </div>
            </div>   
            <div class="addBox">
              
                <div class="addImageBox"></div>
                <div class="locationDetails">Location ssssssssss</div>
                <div class="Subject">Subject sssssssssssssss </div>
                <br>
                <div class="locationDetails">Location ssssssssss</div>
                <div class="Subject">Subject sssssssssssssss </div>
            </div>   
            <div class="addBox">
              
                <div class="addImageBox"></div>
                <div class="locationDetails">Location ssssssssss</div>
                <div class="Subject">Subject sssssssssssssss </div>
                <br>
                <div class="locationDetails">Location ssssssssss</div>
                <div class="Subject">Subject sssssssssssssss </div>
            </div>
          
    </div>